<!DOCTYPE html>
<html>
<head>
<link href="/assets/style.css" rel="stylesheet">
</head>
<body>

<ul>
  <li><a class="active" href="/users">Home</a></li>
  
  <li><a href="/users/show">Register</a></li>
  <li><a href="/users/about">About Us</a></li>
  <li><a href="/users/contact">Contact Us</a></li>
  <li><a href="/users/login">Login</a></li>
</ul>

</body>
</html>
