<!DOCTYPE html>
<html>
  <head>
    <title>Create Employee</title>
   
<style>
body{
  background-color: skyblue;
  text-align: center;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
font-weight: bold;
color: white;  
}
</style>
  </head>
  <body>
      <% include ./partials/nav.ejs %>
     <h1>Contact us on info@gmail.com</h1>
  </body>
</html>