<!DOCTYPE html>
<html>
  <head>
    <title>Create Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% include ./partials/nav.ejs %>
    <div class="container">
    
      <h1>Successfylly registered!!!!!!!</h1>
    </div>
  </body>
</html>